<h1 class="title">All Customers</h1>

<div class="columns">
  <%= render partial: 'customer',
             collection: @customers,
             locals: { show_link: false } %>
</div>

<%= link_to "Alphabetized", "customers/alphabetized" %>
<%= link_to "Missing email", "customers/missing_email" %>

<br>

