<h1 class="title">Customers with Missing Emails</h1>

<div class="columns">
  <%= render partial: 'customer',
             collection: @customers,
             locals: { show_link: false } %>
</div>

<%= link_to "Index", "/customers" %>
<%= link_to "Alphabetized", "alphabetized" %>

<br>
